*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-weight: var(--font-500);
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Global */

a {
  text-decoration: none;
  color: var(--font-pure-dark);
}
svg {
  cursor: pointer;
}
hr {
  width: 100%;
  border: 0;
  margin: 0;
  border-top: 1px solid var(--bg-layout);
}
h4 {
  margin: 0;
  font-size: 14px;
  font-weight: var(--fw-600);
  color: var(--font-dark-color);
}
small {
  color: var(--font-mid-color);
  font-size: 12px;
}

/* Classes and States */
.d-flex {
  display: flex;
  align-items: center;
}
.card {
  background-color: var(--bg-white);
  box-shadow: var(--card-shadow);
}
.logo-mobile {
  display: none;
}
.btn-light {
  transition: var(--transition);
  background-color: var(--state-light-default);
}
.btn-light:hover,
.list:hover {
  background-color: var(--state-hover);
}
.btn-light:active,
.list:active {
  background-color: var(--state-pressed);
}
.btn-light:focus,
.list:focus {
  outline: var(--state-focused);
}
.navbar .search-box:hover {
  border: var(--search-hover);
}
.navbar .search-box:focus-within {
  border: var(--search-focused);
}

:root {
  --container-width: 800px;

  --shade-50: #656266;
  --shade-100: #616161;
  --shade-200: #322f33;
  --shade-300: #1c181d;

  --font-light-color: #e3e3e3;
  --font-mid-color: #616161;
  --font-dark-color: #475467;
  --font-pure-dark: #000000;

  --font-500: 500;
  --fw-600: 600;

  --stroke-S50: #ebebeb;
  --stroke-S100: #e1e1e1/7%;
  --stroke-S200: #616161/20%;

  --state-light-default: #ffffff;
  --state-hover: #f7f7f7;
  --state-pressed: #f0f0f0;
  --state-focused: 2px solid #005bd3;

  --bg-white: #ffffff;
  --bg-layout: #f1f1f1;
  --bg-badge: #36fba1;

  --transition: 0.1s ease;

  --search-default: 1px solid #d4d4d466;
  --search-hover: 1px solid #e1e1e1;
  --search-focused: 2px solid #e1e1e1;
  --card-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

/* Main styles */
.app-shopify {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-layout);
}

.navbar {
  height: 56px;
  padding: 0 13px;
  justify-content: space-between;

  background-color: var(--shade-300);
}
.navbar .search-box {
  gap: 10px;
  width: 480px;
  padding: 4px 18px;
  margin-bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  height: 32px;

  transition: var(--transition);
  border: var(--search-default);
  background-color: var(--shade-200);
}
.navbar .search-box input {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  height: 32px;
  width: 100%;
  font-size: 15px;
  outline: none;
  border: 0;
  font-size: 12px;
  color: white;
}
.navbar .search-box input::placeholder {
  color: lightgray;
}

.setup {
  position: relative;
  gap: 8px;
}
.setup button {
  border-radius: 8px;
  height: 35px;
  border: 2px solid transparent;
  background-color: var(--shade-200);

  &:hover {
    background-color: var(--shade-100);
  }
  &:active {
    background-color: var(--shade-50);
  }
  &:focus {
    outline: var(--state-focused);
  }
}
.setup .notification-bell {
  padding: 0 7px;
}
.setup .user-info {
  gap: 10px;
  padding: 10px 4px 10px 10px;
}
.setup .user-info .username,
.user-badge {
  font-size: 12px;
  font-weight: var(--font-500);
  color: var(--font-light-color);
}
.user-badge {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--bg-badge);
}

.setup .dropdown,
.alert-dropdown {
  position: absolute;
  right: 0px;
  z-index: 2;
  top: 64px;
  height: 384px;
  width: 320px;
  border-radius: 14px;
}
.setup .alert-dropdown {
  width: 383px;
  height: 118px;
  padding: 16px;
  justify-content: space-between;
  flex-direction: column;
}
.setup .alert-dropdown header {
  justify-content: space-between;
  width: 100%;
}
.setup .alert-dropdown p {
  font-weight: 600;
  color: var(--font-mid-color) !important;
}
.setup .alert-dropdown .icons {
  gap: 16px;
}
.setup .alert-dropdown .content {
  height: 50px;
  justify-content: center;
  width: 351px;
  background-color: var(--bg-layout);
}
.setup .dropdown-content header {
  justify-content: space-between;
  border-radius: 8px;
  padding: 4px 12px 4px 8px;
  background-color: var(--state-hover);
  height: 36px;
  margin: 6px 6px 0 6px;
}
.setup .dropdown-content .merchant {
  gap: 8px;
}
.setup .dropdown-content h4 {
  font-weight: var(--fw-600);
  font-size: 13px;
}
.setup .dropdown ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 3px 0;
  height: 86%;
}
.setup .dropdown-content .user {
  height: 50px;
  width: 308px;
  flex-direction: column;
  padding-bottom: 0;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
}
.user h4 {
  font-weight: 500;
  font-size: 13px;
}
.setup .dropdown-content .list {
  width: 308px;
  height: 30px;
  border-radius: 8px;
  margin: 0 auto;
  gap: 8px;
  transition: var(--transition);

  font-weight: 400;
  font-size: 13px;
  color: var(--font-dark-color);
}
.setup .dropdown-content .user,
.setup .dropdown-content .list {
  padding: 6px;
}

.container {
  margin: 30px auto 0;
  position: relative;
  max-width: var(--container-width);
}
.container .plan {
  max-width: 800px;
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  border-radius: 8px;
  padding: 12px 8px 12px 16px;
  background-color: var(--shade-300);
}
.container .plan-content {
  justify-content: space-between;
}
.container .plan p,
 .alert-dropdown p {
  font-size: 13px;
  margin: 0;
  color: var(--font-light-color);
}
.container .plan-content-right {
  gap: 8px;
  flex-direction: row-reverse;
}
.container .plan-content-right .select-btn {
  width: 99px;
  height: 28px;
  font-weight: 600;
  padding: 6px 12px;
  color: var(--font-pure-dark);
  border: 1px;
  border-radius: 6px;
  font-size: 12px;
  font-family: inherit;
  cursor: pointer;

  &:active {
    box-shadow: inset 1px 3px 0 rgba(228, 228, 228, 1),
      0 1px 2px 0 rgba(228, 228, 228, 0.8);
  }
}

.container .setup-guide {
  width: 100%;
  margin-top: 200px;
}

@media screen and (max-width: 390px) {
  .logo-desktop,
  .username {
    display: none;
  }
  .logo-mobile {
    display: block;
  }

  .navbar .search-box {
    width: 238px;
  }

  .container .plan {
    border-radius: 0;
    height: 104px;
    align-items: flex-start;
  }
  .container .plan-content-right {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .container .plan-content-right .select-btn {
    position: absolute;
    bottom: 12px;
    left: 10px;
  }

  .setup .alert-dropdown {
    width: 358px;
    height: 136px;
  }
  .setup .alert-dropdown .content {
    width: 326px;
    height: 68px;
  }

  .setup button {
    background-color: transparent;
    padding: 0;
  }
  .setup .notification-bell,
  .setup .user-info {
    padding: 0;
  }
}
