:root {
  --container-width: 800px;

  --shade-50: #656266;
  --shade-100: #616161;
  --shade-200: #322f33;
  --shade-300: #1c181d;

  --font-light-color: #e3e3e3;
  --font-mid-color: #616161;
  --font-dark-color: #475467;
  --font-pure-dark: #000000;

  --font-500: 500;
  --fw-600: 600;

  --stroke-light: #ffffff33;
  --stroke-S50: #ebebeb;
  --stroke-S100: #e1e1e1/7%;
  --stroke-S200: #616161/20%;

  --state-light-default: #ffffff;
  --state-hover: #f7f7f7;
  --state-pressed: #f0f0f0;
  --state-focused: 2px solid #005bd3;

  --bg-white: #ffffff;
  --bg-layout: #f1f1f1;
  --bg-badge: #36fba1;

  --transition: 0.3s ease-in-out;

  --search-default: 1px solid #d4d4d466;
  --search-hover: 1px solid #e1e1e1;
  --search-focused: 2px solid #e1e1e1;
  --card-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

/* Global */
h5,
p {
  margin: 0 !important;
}
a {
  text-decoration: none;
  color: var(--font-pure-dark);
}
svg,
.toggle-setup {
  cursor: pointer;
}
hr {
  border: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid var(--bg-layout);
}
h4 {
  margin: 0;
  font-size: 14px;
  font-weight: var(--fw-600);
  color: var(--font-dark-color);
}
small {
  color: var(--font-mid-color);
  font-size: 12px;
}
button {
  cursor: pointer;
}
.hidden {
  transition: var(--transition);
  animation: fadeInOut 1s linear;
}

/* Classes */
.m-0 {
  margin: 0;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.logo-mobile {
  display: none;
}
.d-flex {
  display: flex;
  align-items: center;
}
.completed-icon {
  animation-name: spinAndZoomIn;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
.toggle-setup {
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 6px;
}
.toggle-setup img {
  transition: var(--transition);
}
.card {
  border-radius: 14px;
  background-color: var(--bg-white);
  box-shadow: var(--card-shadow);
  border: 1px solid var(--stroke-S50);
}
.accordion-header {
  margin-top: 3px !important;
}
.step-check {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.step-check:focus {
  outline: 2px solid #005BD3;
  padding: 4px;
  border-radius: 6px;
  gap: 8px;
}
.step-check[checked='false']:hover circle {
  stroke-dasharray: 0 0;
}
.step-check[checked='false']:focus circle {
  fill: #d9d9d9;
  stroke-dasharray: 0 0;
}
.btns {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}
.btns button:first-child {
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
}
.btn-light {
  border: 1px solid #0000001a;
  transition: var(--transition);
  background-color: var(--state-light-default);
}
.transform {
  transform: translateY(-60px);
}

/* States  */
.navbar .search-box:hover {
  border: var(--search-hover);
}
.navbar .search-box:focus-within {
  border: var(--search-focused);
}
.setup button:hover {
  background-color: var(--shade-100);
}
.setup button:active {
  background-color: var(--shade-50);
}
.setup button:focus {
  outline: var(--state-focused);
}
.toggle-setup:hover {
  background-color: var(--state-hover);
}
.toggle-setup:focus {
  outline: var(--state-focused);
}
.btn-light:hover,
.menu-item:hover,
.btns button:first-child:hover {
  background-color: var(--state-hover);
}
.btn-light:active,
.menu-item:active {
  background-color: var(--state-pressed);
}
.btn-light:focus,
.menu-item:focus {
  outline: var(--state-focused);
}
.container .plan-content-right .select-btn:active {
  box-shadow: inset 1px 3px 0 rgba(228, 228, 228, 1),
    0 1px 2px 0 rgba(228, 228, 228, 0.8);
}
.container .plan-content-right .select-btn:focus {
  outline: var(--state-focused);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;

  font-family: 'Inter', sans-serif;
  font-weight: var(--font-500);
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Main styles */
.shopify-dashboard {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-layout);
}

.navbar {
  height: 56px;
  padding: 0 13px;
  justify-content: space-between;

  background-color: var(--shade-300);
}
.navbar .search-box {
  gap: 10px;
  width: 480px;
  padding: 4px 18px;
  margin-bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  height: 32px;

  transition: var(--transition);
  border: var(--search-default);
  background-color: var(--shade-200);
  align-items: center;
}
.navbar .search-box input {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  height: 32px;
  width: 100%;
  font-size: 15px;
  outline: none;
  border: 0;
  font-size: 12px;
  color: white;
}
.navbar .search-box input::placeholder {
  color: lightgray;
}

.setup {
  gap: 8px;
  position: relative;
}
.setup button {
  border-radius: 8px;
  height: 32px;
  border: 1px solid var(--shade-300);
  background-color: var(--shade-200);
}

.setup .notification-bell {
  padding: 8px;
  width: 32px;
  height: 32px;
  justify-content: center;
}
.setup button.user-info {
  width: 142px;
  margin: 0;
  padding: 0;
  padding-left: 8px;
  justify-content: space-between;
}
.setup .user-info .username,
.user-badge {
  font-size: 12px;
  font-weight: var(--font-500);
  color: var(--font-light-color);
}
.user-badge {
  padding: 5px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--bg-badge);
}

.setup .dropdown,
.setup .alert-dropdown {
  position: absolute;
  right: 0px;
  z-index: 100;
  top: 64px;
  height: 384px;
  width: 320px;
}

.setup .dropdown-content header {
  justify-content: space-between;
  border-radius: 8px;
  padding: 4px 12px 4px 8px;
  background-color: var(--state-hover);
  height: 36px;
  margin: 6px 6px 0 6px;
}
.setup .dropdown-content .merchant {
  gap: 8px;
}
.setup .dropdown-content h4 {
  font-weight: var(--fw-600);
  font-size: 13px;
}
.setup .dropdown ul {
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 3px 0;
  height: 86%;
}
.setup .dropdown-content .user {
  height: 50px;
  width: 308px;
  flex-direction: column;
  padding-bottom: 0;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
}
.setup .alert-dropdown {
  width: 383px;
  height: 118px;
  padding: 16px;
  justify-content: space-between;
  flex-direction: column;
}
.setup .alert-dropdown header {
  justify-content: space-between;
  width: 100%;
}
.setup .alert-dropdown .content {
  position: absolute;
  bottom: 15px;
  width: 351px;
  left: 13px;
  height: 50px;
  justify-content: center;
  padding: 16px;
  background-color: var(--bg-layout);
}
.setup .alert-dropdown p {
  font-weight: 600;
  color: var(--font-mid-color) !important;
}
.setup .alert-dropdown .icons {
  gap: 16px;
}
.setup .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.setup .dropdown-content .menu-item {
  width: 308px;
  height: 30px;
  border-radius: 8px;
  margin: 0 auto;
  gap: 8px;
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  color: var(--font-dark-color);
  cursor: pointer;
}
.setup .dropdown-content .user,
.setup .dropdown-content .menu-item {
  padding: 6px;
}
.user h4 {
  font-weight: 500;
  font-size: 13px;
}
.container {
  margin: 0 auto;
  height: calc(70vh - 16px);
  position: relative;
  max-width: var(--container-width);
}

.container .plan {
  width: 100%;
  max-width: var(--container-width);
  height: 56px;
  position: fixed;
  border-radius: 8px;
  padding: 12px 8px 12px 16px;
  background-color: var(--shade-300);
  top: 90px;
}

.container .plan-content {
  justify-content: space-between;
  width: inherit;
}
.container .plan p,
.alert-dropdown p {
  font-size: 13px;
  margin: 0;
  color: var(--font-light-color);
}
.container .plan-content-right {
  gap: 8px;
  align-items: center;
  flex-direction: row-reverse;
}
.container .plan-content-right .select-btn {
  width: 100px;
  height: 28px;
  font-weight: 600;
  /* padding: 6px 12px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-pure-dark);
  border-radius: 6px;
  font-size: 12px;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}
.container .plan-content-right span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setup-guide {
  position: fixed;
  top: 162px;
  width: 100%;
  max-width: var(--container-width);
  padding: 8px;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  transition: var(--transition);
}
.setup-guide .top {
  flex-direction: column;
  align-items: flex-start;
  height: 90px;
  padding: 8px;
  width: 100%;
}

.setup-guide .top,
.setup-guide .menu-top {
  justify-content: space-between;
}
.setup-guide p:not(.progress p) {
  font-size: 13px;
  margin-top: 7px;
}
.setup-guide header {
  justify-content: space-between;
  width: 100%;
}
.setup-guide .progress {
  gap: 8px;
}
.setup-guide .progress-container {
  width: 72px;
  height: 4px;
  border-radius: 28px;
  background-color: var(--font-light-color);
}
.setup-guide .progress-bar {
  width: 0%;
  height: inherit;
  transition: var(--transition);
  border-radius: inherit;
  background-color: var(--shade-300);
}
.setup-guide .progress p {
  font-size: 12px;
}

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: auto;
}
.accordion-item {
  padding: 8px;
  border-radius: 10px;
  transition: var(--transition);
}
.accordion-item .content,
.accordion-item img {
  display: none;
}
.accordion-item.open .content,
.accordion-item.open img {
  display: block;
}
.accordion-item.open {
  background-color: #f3f3f3;
  padding: 8px 8px 12px 8px;
  width: 100%;
}
.accordion-item.open,
.accordion-item.open .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.accordion-item.open .content {
  width: 483.86px;
  margin-left: 36px;
}
.accordion-item.open .content p {
  color: var(--font-mid-color);
}
.accordion-item.open .content a {
  color: #005bd3;
}
.accordion-item .accordion-header {
  gap: 8px;
}
.accordion-item .accordion-header span {
  font-weight: 500;
  font-size: 13px;
  color: #303030;
}
.accordion-item button:first-child {
  border: 0;
  background-color: transparent;
}
.accordion-item button:last-child {
  width: auto;
  background-color: #404040;
  font-weight: var(--fw-600);
  font-size: 12px;
  color: var(--font-light-color);
  padding: 6px 12px 6px 12px;
  border-top-width: 1.5px;
  border-right-width: 1.5px;
  border-bottom-width: 0px;
  border-left-width: 1.5px;
  border-color: var(--stroke-light);
  border-radius: 6px;
  box-shadow: 0px 0px 0px 1.5px #333333,
    0px 1px 0px 1.5px #333333,
    0px 2px 0px 0px #000000;
}
.accordion-item button:last-child:hover {
  background-color: #2a2a2a;
}
.accordion-item button:last-child:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 1.5px #333,
    0px 0px 0px 3px #fff,
    0px 0px 0px 5px #005bd3;
  /* box-shadow: 0px -1px 0px 0px #b5b5b5 inset; */
}

.accordion-item.open .accordion-illustration::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #f3f3f3);
  z-index: 4;
}

.accordion-item.open .accordion-illustration {
  position: absolute;
  right: 15px;
  height: 110px;
  overflow: hidden;
}
.accordion-item.open img {
  width: 156px;
  height: 120px;
}

@media screen and (max-width: 900px) {
  .container {
    width: auto;
  }
  .container .plan,
  .container .setup-guide {
    width: 99%;
    left: 50%;
    transform: translateX(-50%);
  }
  .setup button {
    background-color: transparent;
    padding: 0;
    width: 28px;
  }
  .setup button:hover {
    background-color: transparent;
  }
  .setup button:focus {
    outline: none;
  }

  .setup button.user-info {
    width: auto;
    padding: 0;
  }
  .setup-guide .top {
    gap: 8px;
  }

  .logo-desktop,
  .username {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
  .navbar .search-box {
    flex: 0.9;
  }
  .transform {
    top: 102px;
  }
  .user-badge:focus {
    outline: var(--state-focused);
  }
}

@media screen and (max-width: 730px) {
  .accordion-item.open img {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .accordion-item.open .content {
    width: auto;
  }
}

@media screen and (max-width: 390px) {
  .container .plan,
  .container .setup-guide {
    border-radius: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
  .container .plan {
    height: 104px;
    align-items: flex-start;
  }
  .container .plan-content-right {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .container .plan-content-right .select-btn {
    position: absolute;
    bottom: 12px;
    left: 10px;
  }

  .setup-guide {
    top: 205px;
  }
  .transform {
    top: 102px;
  }
  .setup .alert-dropdown {
    width: 358px;
    height: 136px;
  }
  .setup .alert-dropdown .content {
    width: 326px;
    height: 68px;
  }

  .setup .notification-bell,
  .setup .user-info,
  .user-badge,
  .user-info {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
  }
  .user-badge {
    width: 32px;
    height: 32px;
  }
  .navbar .search-box {
    width: 238px;
  }
}

/* @keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.rotate {
  animation: rotateAnimation 1s linear;
}

@keyframes spinAndZoomIn {
  0% {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}
